/* Products List Admin */
#products_table .btn {
    padding: 0.2rem 0.5rem;
    margin-left: 0.4rem;
  }

  .nomad-btn {
    display: block;
    width: 100%;
    line-height: 1.4;
    padding-left: 5px;
    padding-right: 5px;
    white-space : normal;
    margin-top : 0;
    margin-bottom: 10px;
    min-height: 44px;
    background-color: #003060;
    color: white
}

.b{
  margin-bottom: 8%;
}