/* User Profile */

.avatar-profile {
    height: 16rem;
    width: 16rem;
  }
  
  .user-info h4 {
    font-weight: 800;
    color: grey;
    margin-top: 2rem;
  }
  
  .user-info p {
    font-size: 1.1rem;
  }
  
  #edit_profile {
    background-color: #003060;
    border-color: #003060;
  }
  
  /* Confirm Order */
  
  .order-confirm p,
  .order-details p {
    margin-left: 1.5rem;
  }
  
  .update-btn {
    background-color: #003060;
    border-color: #003060;
    color: white;
  }
  
  .update-btn:hover {
    color: white;
  }
  /* Avatar */

  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }


  .nn {
    margin-bottom: 4rem;
  }
  .n {
    margin-bottom: 1rem;
  }